## Import required libraries

In [4]:
import scipy.stats as stats
import seaborn as sns
import pandas as pd
import numpy as np

### Create two sample list

In [10]:
weight1=[25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]

In [5]:
weight2=weight1+stats.norm.rvs(scale=5,loc=-1.25,size=15)

In [11]:
print(weight1)

[25, 30, 28, 35, 28, 34, 26, 29, 30, 26, 28, 32, 31, 30, 45]

In [12]:
print(weight1)

[25, 30, 28, 35, 28, 34, 26, 29, 30, 26, 28, 32, 31, 30, 45]

In [13]:
print(weight2)

[18.28074351 21.50020284 32.07180311 28.85515087 32.61159094 40.31899154
 24.81255785 29.50686182 33.38098876 25.97213273 22.30242218 32.4617413
 26.13518278 25.32946361 44.07476065]

###  Load sample list into dataframe

In [14]:
weight_df=pd.DataFrame({"weight_10":np.array(weight1),
                         "weight_20":np.array(weight2),
                       "weight_change":np.array(weight2)-np.array(weight1)})

In [15]:
weight_df

    weight_10  weight_20  weight_change
0          25  18.280744      -6.719256
1          30  21.500203      -8.499797
2          28  32.071803       4.071803
3          35  28.855151      -6.144849
4          28  32.611591       4.611591
5          34  40.318992       6.318992
6          26  24.812558      -1.187442
7          29  29.506862       0.506862
8          30  33.380989       3.380989
9          26  25.972133      -0.027867
10         28  22.302422      -5.697578
11         32  32.461741       0.461741
12         31  26.135183      -4.864817
13         30  25.329464      -4.670536
14         45  44.074761      -0.925239

### Perform t test

In [16]:
_,p_value=stats.ttest_rel(a=weight1,b=weight2)

In [17]:
print(p_value)

0.2978436108562571

### Analyse result by comparing p value with alpha

In [18]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis